@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

/* ======================= */
.wrapper{
	min-height: 100%;
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
}
/* ======================= */

body{
	font-family: Lato;
	font-size: 16px;
	line-height: 1.6;
}
h1{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin: 118px 0 92px 0;
}
img{
	margin: 0 0 60px 0;
}

.black-one{
	color: #1E212C;
	font-weight: 700;
	line-height: 1.5;
	font-size: 20px;
	margin: 0 0 24px 0;
}
.paragraph-one{
	margin: 0 0 48px 0;
}
.black-two{
	color: #1E212C;
	font-weight: 700;
	line-height: 1.5;
	font-size: 20px;
}
.citate{
	padding: 0 0 0 48px;
	margin: 0 0 48px 0;
}
li{
	line-height: 1.8;
}
ul{
	margin: 0 0 24px 0;
}

.paragraph-two{
	margin: 0 0 24px 0;
}
